@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

.text-color-primary {
  color: #344563;
}

.width-100 {
  width: 100%;
}

.flex {
  -webkit-display: flex;
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.margin-top-12 {
  margin-top: .75rem;
}

.margin-top-20 {
  margin-top: 1.25rem;
}

.padding-0 {
  padding: 0;
}

.padding-top-0 {
  padding-top: 0;
}

.padding-top-8 {
  padding-top: .5rem;
}

.padding-top-114 {
  padding-top: 7.125rem;
}

.wrap {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.section-title,
.modal-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.75rem;
  color: #172b4d;
  text-transform: capitalize;
}

.section-description {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  width: 20.4375rem;
  margin-bottom: 5.4375rem;
}

/* Buttons */
.button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 3rem;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.5rem;
  text-transform: capitalize;
  border-radius: .5rem;
  margin-top: 1.5rem;
  background-color: transparent;
}

.button:hover {
  background-color: #6070ff;
  color: #fff;
}

.button:focus {
  border: .0625rem solid #2230d2;
  background-color: #2230d2;
  color: #fff;
}

.button-enabled {
  color: #396df2;
  border: .0625rem solid #6070ff;
}

.button:disabled,
.button[disabled] {
  border: .0625rem solid #5e6c84;
  background-color: #fff;
  color: #5e6c84;
}

/* End buttons */

/* Header flex container */

header {
  z-index: 99999;
}

.header-nav {
  background-color: #fff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-basis: 100%;
}

/* Header flex item */
.header-nav>* {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.header-nav span {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.logo {
  text-decoration: none;
  margin: 0;
  -webkit-box-flex: 6;
  -ms-flex: 6;
  flex: 6;
  color: #6070ff;
  font-size: 1.125rem;
  line-height: 1.25rem;
  font-weight: 700;
  transition: 2s;
}

.logo:hover {
  transform: rotateX(360deg);
}

.headline {
  background-image: url(../images/header-background-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 bottom;
}

/* Headline flex container */
.headline-wrap {
  background-image: url(../images/headline-bg.png);
  background-size: cover;
  padding: 7.125rem 1.5rem 8.5rem 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* Headline flex items */
.welcome {
  font-size: 2.5rem;
  font-weight: 700;
  color: #172b4d;
  line-height: 3.25rem;
  margin: 0;
}

.headline-profile {
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: justify;
}

.headline-cta {
  text-decoration: none;
}

.headline-cta h3 {
  text-transform: uppercase;
  color: #7f8cff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

/* Social icons flex container */
.social-icons {
  list-style: none;
  display: flex;
  padding: 0;
}

/* Social icons flex item */
.social-icons li {
  -ms-flex-preferred-size: 2.4375rem;
  flex-basis: 2.4375rem;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.social {
  height: 1.5625rem;
}

/* End of headline flex items */

/* Works section */
.works-grid-container {
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 7.125rem 0;
  padding-top: 7.125rem;
}

.works-grid-container>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.works-grid-item {
  background-color: #fff;
  border: .0625rem solid #dfe1e6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 1rem;
  padding: 1rem;
  min-height: 6.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  transition: 2s;
}

.works-grid-item:hover {
  transform: scale(1.1);
}

.work-period ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 0;
}

.work-categories li {
  padding: .25rem .75rem;
  background: #ebebff;
  border-radius: .5rem;
  color: #6070ff;
}

.work-period ul li {
  margin: .625rem .625rem 0;
  font-weight: 600;
  font-size: .8125rem;
  line-height: 1rem;
}

.work-categories li:not(:first-child) {
  margin-left: .5rem;
}

.work-period ul li:first-child {
  list-style: none;
  margin-left: 0;
  text-transform: uppercase;
}

.work-period ul li:not(:first-child) {
  color: #7a869a;
}

.work-description {
  font-weight: 400;
  font-size: .9375rem;
  line-height: 1.5rem;
}

.work-categories {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
}

.work-details-wrapper {
  flex-direction: column;
}

/* About section */
.about-wrap {
  padding: 7.125rem 1.5rem 8.5rem 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url("../images/about-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Other info */
.other-info-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  padding-top: 2.25rem;
}

.other-info-wrap .other-info-list {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.25rem 0;
  border-bottom: .0625rem solid #dfe1e6;
}

.other-info-wrap .other-info-list h4 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #000;
}

.other-info-wrap .li-flex {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.other-info-details {
  -ms-flex-preferred-size: 12.5rem;
  flex-basis: 12.5rem;
  padding-top: 2.25rem;
}

.details-list-item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f7f7f9;
  padding: .5625rem .75rem;
  border-radius: .5rem;
  margin-bottom: .75rem;
}

.details-list-item img.lang-icon {
  -ms-flex-preferred-size: 3rem;
  flex-basis: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

.details-list-item .lang-name {
  font-weight: 500;
  font-size: .9375rem;
  line-height: 1.25rem;
  color: #253858;
}

.footer {
  display: flex;
  background-image: url("../images/contact-web.png");
  background-color: #fff !important;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

.form-fieldset {
  border: none;
  margin-right: .9375rem;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6.4375rem 1.5rem 0 1.5rem;
  background-image: url("../images/contact-bg2.png");
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-wrapper h2 {
  color: #fff;
  font-family: poppins, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3.25rem;
  margin-bottom: .75rem;
}

.footer-wrapper p {
  font-family: poppins, sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  color: #ebebff;
  width: 100%;
}

.footer-wrapper input {
  background-color: #fff;
  width: 98%;
  height: 3rem;
}

.footer-wrapper input[type="text"] {
  padding-left: 1rem;
  margin-bottom: 1.25rem;
  border-radius: .5rem;
  border: .0625rem solid #dfdbdc;
}

.footer-wrapper input[type="email"] {
  padding-left: 1rem;
  margin-bottom: 1.25rem;
  border-radius: .5rem;
  border: .0625rem solid #dfdbdc;
}

form {
  width: 100%;
}

#message {
  width: 98%;
  border: .0625rem solid #cfd8dc;
  padding-left: 1rem;
  height: 10.625rem;
  border-radius: .5rem;
  padding-top: .9375rem;
}

#message::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: .9375rem;
  line-height: 1.5rem;
}

.contact-button {
  background-color: white;
  padding: .75rem 1rem;
}

.contact-button:hover {
  background-color: #6070ff;
  color: white;
}

.header-nav-link {
  display: none;
}

.mobile-nav-icon {
  display: block;
}

.mobile-menu {
  display: none;
  position: fixed;
  background: #6070ffcf;
  width: 100%;
  height: 100vh;
  gap: 40px;
  flex-direction: column;
  padding: 30px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.mobile-menu>a {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  text-decoration: none;
}

.mobile-menu-close {
  justify-content: flex-end;
}

.modal {
  padding: 1rem;
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 99999;
  background-color: #dededebb;
  backdrop-filter: blur(0.3125rem);
  -webkit-backdrop-filter: blur(0.3125rem);
  -moz-backdrop-filter: blur(0.3125rem);
}

.modal-wrap {
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  justify-content: flex-start;
  overflow: scroll;
}

.modal-header {
  justify-content: space-between;
  align-items: center;
}

.modal-content-wrapper {
  gap: 0.75rem;
}

.modal-content-links {
  justify-content: space-around;
  align-items: center;
  gap: 1.25rem;
  width: 100%;
}

.modal-content-links>a {
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  flex: 1;
}

@media (min-width: 48rem) {
  .wrap {
    padding: 8.875rem 8.875rem;
  }

  .headline-wrap {
    padding: 19.625rem 16.25rem 14.0625rem 16.25rem;
    background-image: url(../images/header-bg.png);
  }

  .header-nav.wrap {
    padding-top: 1.5625rem;
    padding-bottom: 1.25rem;
  }

  header {
    position: fixed;
    width: 100%;
  }

  .menus {
    gap: 2rem;
    display: inherit;
  }

  .menus a {
    display: block;
    font-weight: 500;
    font-size: .9375rem;
    line-height: 1.25rem;
    color: #344563;
    text-decoration: none;
  }

  .mobile-nav-icon {
    display: none;
  }

  .works-grid-item {
    flex-direction: row;
    gap: 2.875rem;
  }

  .work-details-wrapper {
    flex-direction: column;
    flex: 1;
  }

  .work-image {
    flex: 1;
  }

  .row-reverse {
    flex-direction: row-reverse;
  }

  .about-details-wrap {
    flex-basis: 40%;
  }

  .about-wrap {
    flex-direction: row;
    gap: 2.3125rem;
    padding: 7.125rem 8.875rem 8.5rem 8.875rem;
  }

  .li-flex.wrap {
    padding: 0;
  }

  .other-info {
    flex-basis: 50%;
  }

  .other-info ul.other-info-wrap>li:nth-child(1) {
    padding: 0 !important;
  }

  .other-info-details {
    flex-direction: row;
    display: flex;
    gap: .75rem;
    padding-left: 0;
    padding-bottom: .6875rem;
  }

  .details-list-item {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-wrapper {
    padding-left: 27%;
    padding-right: 27%;
  }

  .web-centered {
    display: flex;
    justify-content: center;
  }

  .contact-button {
    margin-bottom: 8.6875rem;
  }

  .section-description {
    margin-bottom: 1.5625rem;
  }

  .footer-wrapper input[type="text"],
  .footer-wrapper input[type="email"],
  .footer-wrapper textarea {
    border-radius: 0 !important;
  }

  form {
    width: 88%;
  }

  .modal {
    overflow: scroll;
    align-items: center;
    padding: 4.25rem;
  }

  .modal-wrap {
    width: 80%;
    height: auto;
    overflow: unset;
  }

  .modal-content-wrapper {
    gap: 2rem;
  }

  .modal-content-text {
    flex-direction: row;
    gap: 2.25rem;
  }
}